<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
  <div class="list-name" id='list-id-{{list.id}}'>

    <div class="btn-list">
      <button type="button" class="btn-edit-list btn-1 btn-default btn-xs" id="btn-edit-list-id-{{list.id}}" data-list-edit-id="{{list.id}}" data-list-edit-name="{{list.name}}">Edit</button>
      <button type="button" class="btn-delete-list btn-1 btn-danger btn-xs" id="btn-delete-list-{{list.id}}" data-list-delete-id="{{list.id}}">X</button>
    </div>
    <h2>{{list.name}}</h2>
  </div>
  <!-- decide button -->
  <button type="button" class="btn-choose-item pull-right btn-primary btn-xs" data-choose-item-list-id="{{list.id}}" data-choose-items="{{list.items}}">Decide</button>
  <div type="text" name="item[name]" id='item-choose-list-id-{{list.id}}' class="choosen-item" placeholder=""></div>
  <div class="line-under-decide"></div>
  <form class="add-item-form">
    <!-- <div class='choose'> -->
    <input type="text" name="item[name]" class="item-input" id='item-name-list-id-{{list.id}}' placeholder="Enter Item">
    <button type="button" class="btn-add-item btn-success btn-xs" data-item-name-list-id="{{list.id}}">Add</button>
  </form>
</div>
