{{#each lists as |list|}}
  <div class="col-xs-4 box">
    <div id='list-id-{{list.id}}' class="list-name">{{list.name}}

      <!-- <div class="glyphicon glyphicon-pencil"></div>
    <div class="glyphicon glyphicon-trash"></div> -->

      <button type="button" class="btn-edit-list btn-1" id="btn-edit-list-name-{{list.name}}" data-list-edit-id="{{list.id}}" data-list-edit-name="{{list.name}}">Edit</button>
      <button type="button" class="btn-delete-list btn-1" id="btn-delete-list-{{list.id}}" data-list-delete-id="{{list.id}}">Delete</button>
    </div>

    {{#each list.items as |item|}}
      <div>
        {{#if item.mark}}
          <input class="checkBox" id="checked" value='{{item.mark}}' autocomplete="off" checked data-checkbox-item-id="{{item.id}}" data-item-name-id="{{item.name}}" data-list-id='{{item.list_id}}' type="checkbox"><label for='checked'>{{item.name}}</label>
        {{else}}
          <input class="checkBox" value='{{item.mark}}' autocomplete="off" data-checkbox-item-id="{{item.id}}" type="checkbox"><label>{{item.name}}</label>
        {{/if}}

        <button type="button" class="btn-edit-item btn-2" id="btn-edit-item-{{item.id}}" data-item-delete-id="{{item.id}}">Edit</button>
        <button type="button" class="btn-delete-item btn-2" id="btn-delete-item-{{item.id}}" data-item-delete-id="{{item.id}}">Delete</button>

      </div>
      <!-- </div> -->
      <!-- <div class="icon"> -->
      <!-- <a href="index.html" class="ui-icon-trash ui-btn-icon-right">
        </div>
        <span class="ui-icon ui-icon-arrowthick-1-n"></span>
        <span class="ui-icon-trash"></span>
        <span class="ui-icon-pencil"></span> -->
    {{/each}}


    <form class="add-item-form">
      <input type="text" name="item[name]" id='item-name-list-id-{{list.id}}' class="item-input" placeholder="Enter Item">
      <button type="button" class="btn-add-item" data-item-name-list-id="{{list.id}}">Add Item</button>
    </form>

  </div>
{{/each}}
